spring:
  application:
    name: "Snowflake ID Generator"

snowflake-settings:
  starting-epoch: 946684800
  datacenter-id: 1
  worked-id: 1

management:
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true
