spring:
  application:
    name: "Snowflake ID Generator"

snowflake-settings:
  starting-epoch: 946684800
  datacenter-id: 1
  worked-id: 1

management:
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info
    health:
      show-details: always
      show-components: always
      probes:
        enabled: true
logging:
  level:
    root: DEBUG
    io.maksymdobrynin.snowflakegenerator: DEBUG
    org.springframework.web: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] [Pod: ${HOSTNAME}] %-5level %logger{36} - %msg%n"
